  html,
body {
  min-width: 960px;
}

body {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-family: "Cuprum", "Tahoma", sans-serif;
  text-align: left;
  font-style: normal;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
          clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  margin-bottom: 59px;

  background-color: #f2f6f8;
}

.header-top {
  width: 100%;
  margin-bottom: 46px;

  background-color: #293449;
}

.header-top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-logo {
  position: absolute;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  padding-top: 11px;
  padding-bottom: 12px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  -webkit-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-header-logo:focus,
.main-header-logo:hover,
.main-footer-logo:focus,
.main-footer-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active,
.main-footer-logo:active {
  background-color: #ba2732;
}

.shopping-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
    -ms-flex-pack: end;
      justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  padding-left: 210px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  margin: 0;
  padding: 12px 10px 11px 49px;

  color: #ffffff;

  background-color: #293449;
  background-image: url("../img/icon-search-1.svg");
  background-repeat: no-repeat;
  background-position: 17px 12px;

  border: 0;
}

input[type="search"]:hover {
  background-color: #212a3a;
  background-image: url("../img/icon-search-2.svg");
}

input[type="search"]:focus {
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/icon-search-3.svg");
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
  -webkit-box-shadow: inset 0 -5px 0 0 #293449;
          box-shadow: inset 0 -5px 0 0 #293449;
}

.shopping-navigation a,
.site-navigation a {
  display: block;

  color: #ffffff;
}

.shopping-navigation a {
/*  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;*/
  padding-top: 12px;
  padding-bottom: 12px;
}

.site-navigation a {
  padding: 20px 30px 23px 30px;
}

.site-navigation li:first-child a {
  padding-left: 53px;
}

.site-navigation li:last-child a {
  padding-right: 55px;
}

a.bookmarks {
  position: relative;

  padding-left: 44px;
  padding-right: 28px;
}

a.cart,
.full-cart a {
  position: relative;

  padding-left: 50px;
  padding-right: 31px;
}

.full-cart a {
  background-color: #ee3643;
  padding-right: 25px;
}

.order a {
  padding-left: 20px;
  padding-right: 22px;

  background-color: #63a63e;
}

a.bookmarks::before,
a.cart::before,
.full-cart a::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

a.cart::before,
.full-cart a::before {
  background-image: url("../img/icon-cart.svg");
}

a.bookmarks:focus::before,
a.bookmarks:hover::before,
a.cart:focus::before,
a.cart:hover::before,
.full-cart a:focus::before,
.full-cart a:hover::before {
  opacity: 1;
}

a.bookmarks:active::before,
a.cart:active::before,
.full-cart a:active::before {
  opacity: 0.5;
}

.shopping-navigation a:hover,
.shopping-navigation a:focus {
  background-color: #212a3a;
}

.shopping-navigation a:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.order a:hover,
.order a:focus {
  background-color: #5fbb2d;
}

.order a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 39px;
  padding: 0 10px;
}

.site-navigation a:focus,
.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.main-header ul,
.container ul,
.main-footer ul,
.container-inner ul {
  list-style: none;
}

.main-header h1 {
  margin: 0;
  margin-left: 53px;
  padding-top: 3px;

  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.phone {
  position: relative;

  display: block;
  padding: 10px 50px 8px 70px;

  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #ee3643;

  border: solid 3px #ffffff;
}

.phone::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 13px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-middle p {
  margin: 0;
  padding-top: 4px;

  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.user-navigation-unauthorized {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
    -ms-flex-pack: end;
      justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.user-navigation-authorized {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 300px;
}

.user-navigation-authorized li:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 8px;
}

.user-navigation-authorized li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 19px;
}

.user-navigation-unauthorized a,
.user-navigation-authorized a {
  display: block;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation-unauthorized a {
  padding: 12px 24px 12px 25px;
}

a.login {
  position: relative;
  margin-right: 10px;
  padding-right: 25px;
  padding-left: 48px;
}

.login svg {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;
}

.user-navigation-authorized li:first-child {
  background-color: #ffffff;
  padding-left: 47px;
  padding-right: 10px;
}

.profile {
  position: relative;
}

.profile {
  padding: 12px 0 12px 0;
}

.profile svg {
  content: "";
  position: absolute;
  top: 14px;
  left: -32px;

  width: 20px;
  height: 18px;
}

.logout {
  padding: 14px 0 10px 0;
}

.login:focus path,
.login:hover path,
.logout:focus path,
.logout:hover path,
.profile:focus path,
.profile:hover path {
  fill: #32425c;
}

.login:active path,
.logout:active path,
.profile:active path {
  fill: #c5c5c5;
}

a.user-cabinet {
  position: relative;
}

a.user-cabinet::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -15px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 2px;
}

a.user-orders {
  margin-right: 31px;
}

a.user-orders,
a.user-cabinet {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;

  background-color: #f2f6f8;
}

.user-navigation-unauthorized a:focus,
.user-navigation-unauthorized a:hover,
a.user-orders:focus,
a.user-orders:hover,
a.user-cabinet:focus,
a.user-cabinet:hover {
  color: #ee3643;
}

.user-navigation-unauthorized a:active,
.user-navigation-authorized a:active,
a.user-orders:active,
a.user-cabinet:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation,
.section-wrapper,
.info-contacts {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  margin-bottom: 60px;
}

.button {
  display: block;
  padding: 10px 0 10px 0;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: 0;
  border-radius: 2px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.offers {
  margin-bottom: 53px;
}

.offers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.offers-list li:nth-child(1) {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.offers-list li:nth-child(2) {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.offers-list li:nth-child(3) {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.offers-item {
  position: relative;

  width: 135px;
  padding: 21px 141px 22px 24px;
}

.offers-list li:first-child::after,
.popular-goods-list li:last-child::after,
.catalog-list li:nth-child(2n+1)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;

  width: 60px;
  height: 59px;

  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-list li:first-child::after,
.catalog-list li:last-child::after {
  display: none;
}

.offers-item h3 {
  margin: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.slider-and-offers2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
}

.offers-slider {
  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;
}

.offers-slider li:nth-child(2) {
  display: none;
}

.offers-slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
          align-items: flex-start;
  width: 595px;
  height: 222px;
  padding: 23px 0 21px 25px;
}

.offers-slider-item h3 {
  margin: 0;
  margin-bottom: 2px;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.offers-slider-item p:first-of-type {
  margin: 0;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.offers-slider-item a {
  padding-left: 49px;
  padding-right: 47px;
}

.offers-slider-item p:last-of-type {
  margin: 0;
  margin-bottom: 49px;
}

.slider-button-back,
.slider-button-next {
  width: 22px;
  height: 40px;
  margin-right: 527px;

  background: transparent;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
}

.slider-button-next {
  margin-right: 0;

  background-image: url("../img/icon-right.svg");
}

.offers-slider li:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/slide-drill.jpg");
  background-repeat: no-repeat;
  background-position: top left;
}

.offers-slider li:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/slide-perforator.jpg");
  background-repeat: no-repeat;
  background-position: top left;
}

.offers-list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
    -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0;
  padding: 0;
}

.offers-list2 li:nth-child(1) {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 196px 26px;
  margin-bottom: 20px;
}

.offers-list2 li:nth-child(2) {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.offer-button {
  padding-left: 10px;
  padding-right: 10px;

  background-color: rgba(0, 0, 0, 0.1);
}

.offer-button:focus,
.offer-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.offer-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.popular-goods-header,
.popular-companies-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.popular-goods-header h2,
.popular-companies-header h2 {
  margin: 30px 0 29px 27px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.popular-goods-header a,
.popular-companies-header a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 253px;
  margin-right: 24px;
}

.popular-goods-list,
.popular-companies-list,
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0;
  padding: 0;
}

.popular-companies-list {
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
}

.popular-companies {
  margin-bottom: 66px;
}

.popular-companies-item {
  margin-bottom: 20px;
}

.popular-companies-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  width: 218px;
  height: 143px;
  min-height: 143px;

  border: solid 1px #eaeaea;
}

.popular-companies-item a:focus,
.popular-companies-item a:hover {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-companies-item a:active {
  -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.popular-goods-item,
.catalog-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
    -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
    -ms-flex-pack: start;
      justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 218px;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: center;
  font-style: normal;

  border: solid 1px #eaeaea;
}

.popular-goods-item:hover,
.catalog-item:hover {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-goods-item h3,
.catalog-item h4 {
  margin: 0;
  margin-bottom: 11px;

  font-size: 18px;
  line-height: 20px;
}

.popular-goods-item:not(.discount) h3,
.catalog-item:not(.discount) h4 {
  margin-bottom: 39px;
}

.popular-goods-item .img-wrapper,
.catalog-item .img-wrapper {
  -ms-flex-order: -1;
  order: -1;
  margin-bottom: 12px;

  -webkit-box-ordinal-group: 0;
}

.price-old {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  color: #a9a9a9;
  text-decoration: line-through;
}

.price-new {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 5px;
  padding: 10px 40px 10px 36px;

  color: #ffffff;

  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.add-item-to {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  width: 218px;
  height: 164px;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.popular-goods-item:hover .add-item-to,
.catalog-item:hover .add-item-to {
  display: block;
}

.popular-goods-item a,
.catalog-item a {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  text-align: center;
  font-style: normal;
}

.add-to-cart a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 135px;
  margin-top: 44px;
  margin-bottom: 8px;
  margin-left: 41px;

  background-color: #63a63e;
  -webkit-box-shadow: inset 0 -3px 0 0 #367315;
          box-shadow: inset 0 -3px 0 0 #367315;
}

.add-to-cart a:focus,
.add-to-cart a:hover {
  background-color: #5fbb2d;
  -webkit-box-shadow: inset 0 -3px 0 0 #367315;
          box-shadow: inset 0 -3px 0 0 #367315;
}

.add-to-cart a:active {
  background-color: #518534;
}

.add-to-bookmarks a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 135px;
  margin-left: 41px;
  padding-top: 8px;
  padding-bottom: 6px;

  color: #32425c;

  background-color: #ffffff;
  border: solid 3px #63a63e;
}

.add-to-bookmarks a:focus,
.add-to-bookmarks a:hover {
  background-color: #ffffff;
  border: solid 3px #32425c;
}

.add-to-bookmarks a:active {
  color: rgba(50, 66, 92, 0.3);

  border: solid 3px rgba(50, 66, 92, 0.3);
}

.services {
  width: 100%;
  margin-bottom: 79px;

  background-color: #f2f6f8;
}

.services .section-wrapper {
  padding-top: 65px;
}

.services h2,
.info h2,
.contacts h2,
.about-tools h3 {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services h2 {
  margin-bottom: 26px;
}

.services p:first-of-type {
  width: 400px;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
}

.services-slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.services-slider-controls,
.services-slider {
  margin: 0;
  padding: 0;
}

.services-slider-controls {
  position: relative;
  width: 240px;
  padding-top: 50px;
  min-height: 280px;
}

.services-slider-controls::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 280px;
  background-image: url(../img/shadow.png);
}

.services-slider {
  width: 620px;
  min-height: 280px;
}

.services h3 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services p,
.info p,
.contacts p,
.about-tools p {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: left;
  font-style: normal;
}

.services-item p.delivery {
  width: 275px;
}

.services-item p.warranty {
  width: 378px;
}

.services-item p.credit {
  margin-bottom: 25px;
}

.services-item button[type="button"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  padding: 15px 0 16px 22px;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;

  background-color: #32425c;
  border: 0;
}

.services-item button[type="button"]:focus,
.services-item button[type="button"]:hover {
  background-color: #293449;
}

.services-item.current button[type="button"] {
  color: #32425c;

  background-color: #ffffff;
}

.services-item a.button {
  width: 195px;
}

.services-slider li {
  width: 620px;
  padding-top: 49px;
  padding-bottom: 111px;

  background-repeat: no-repeat;
  background-position: right bottom;
}

.services-slider li:nth-child(1) {
  background-image: url("../img/slide-delivery.png");
}

.services-slider li:nth-child(2) {
  display: none;
  padding-bottom: 87px;

  background-image: url("../img/slide-warranty.png");
}

.services-slider li:nth-child(3) {
  display: none;

  background-image: url("../img/slide-credit.png");
}

.info-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.info {
  width: 540px;
}

.info h2,
.contacts h2 {
  margin-bottom: 26px;
}

.info p:first-of-type {
  width: 520px;
  margin-bottom: 24px;
}

.info p:last-of-type {
  width: 390px;
  margin-bottom: 21px;
}

.contacts {
  width: 300px;
}

.contacts p {
  width: 180px;
  margin-bottom: 31px;
}

.contacts a:first-of-type {
  display: block;
  margin-bottom: 36px;
}

.delivery-companies {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;

  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  text-align: left;
  font-style: normal;
}

.delivery-companies li {
  position: relative;

  margin-bottom: 20px;
  margin-left: 37px;
}

.delivery-companies li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -37px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.info a {
  width: 140px;
  padding-right: 40px;
  padding-left: 40px;
}

.modal {
  display: none;
}

.write-us-item label {
  font-size: 18px;
  line-height: 18px;
}

.write-us-item input[type="text"],
.write-us-item textarea {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: left;
  font-style: normal;

  border: solid 2px #dee3e4;
}

.write-us-item input[type="text"]:hover,
.write-us-item textarea:hover {
  border: solid 2px #b5b5b5;
}

.write-us-item input[type="text"]:focus,
.write-us-item textarea:focus {
  border: solid 2px #ee3643;
}

.main-footer {
  margin-top: 85px;

  background-color: #32425c;
}

.main-footer .main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 27px;
  padding: 0 10px;
}

.main-footer-logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  padding-top: 19px;
  padding-bottom: 20px;

  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  -webkit-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 548px;
  margin: 0;
  margin-top: 39px;
  padding: 0;
}

.footer-middle .section-wrapper,
.footer-bottom .section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 524px;
  margin: 0;
  padding: 0;
}

.footer-middle p {
  width: 323px;
  margin: 0;
  padding: 0;
  padding-left: 3px;
}

.footer-middle {
  margin-bottom: 51px;
}

.footer-site-navigation a,
.footer-middle p,
.footer-middle a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-middle a {
  color: #ffda96;
}

.footer-site-navigation a:focus,
.footer-site-navigation a:hover,
.footer-middle a:focus,
.footer-middle a:hover,
.footer-copyright a:focus,
.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-site-navigation a:active,
.footer-middle a:active {
  text-decoration: none;

  opacity: 0.5;
}

.footer-bottom .section-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer-bottom .mail {
  width: 135px;
  margin-right: 50px;
}

.footer-bottom .site {
  width: 96px;
  margin-right: 0;
  padding-right: 15px;
}

.footer-copyright {
  width: 230px;
  margin-right: 161px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 132px;
  margin: 0;
  margin-right: 117px;
  padding: 0;
}

.footer-copyright a {
  color: #ffd180;
}

.footer-copyright a:active {
  color: #ee3643;
  text-decoration: none;
}

.social-button {
  display: block;
  width: 42px;
  height: 42px;

  color: #ffffff;

  background-color: #212a3a;
  border-radius: 21px;
}

.social-button.vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-button.facebook {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-button.instagram {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-button:focus,
.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.main-header.inner {
  margin-bottom: 19px;
}

.header-middle.inner h1 {
  padding-right: 20px;
}

.filters,
.breadcrumbs,
.catalog-sorting,
.pagination-list {
  font-weight: normal;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  font-style: normal;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;


}

.breadcrumbs li {
  position: relative;

  margin-right: 40px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -24px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:first-child::after {
  display: none;
}

.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.filters ul {
  margin: 0;
  padding: 0;
}

.catalog {
  width: 700px;
}

.catalog-list {
  margin-bottom: 32px;
}

.catalog-sorting,
.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.sorting-list {
  justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  width: 460px;
}

.catalog-sorting {
  margin-bottom: 20px;
}

.sorting-list li:first-child {
  margin-right: 71px;
}

.sorting-list li:nth-child(2) {
  margin-right: 65px;
}

.sorting-list li:nth-child(3) {
  margin-right: 46px;
}

.sorting-list li:nth-child(4) {
  margin-right: 21px;
}

.breadcrumbs a,
.breadcrumbs-current,
.filters h3,
.catalog-sorting h3,
.sorting-item a,
.pagination-item a,
.filters-button {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  color: #000000;
}

.filters h3,
.catalog-sorting h3 {
  padding: 9px 0 10px 19px;
}

.catalog-sorting h3 {
  width: 82px;
}

.filters h3 {
  margin-bottom: 11px;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.min-to-max a,
.max-to-min a {
  border: 0;
}

.sorting-item a:focus,
.sorting-item a:hover {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.min-to-max a:focus,
.min-to-max a:hover,
.max-to-min a:focus,
.max-to-min a:hover {
  border-bottom: 0;
}

.min-to-max a:focus path,
.min-to-max a:hover path,
.max-to-min a:focus path,
.max-to-min a:hover path {
  fill: #231f20;
  fill-opacity: 1;
}

.sorting-item a:active {
  color: #ee3643;

  border-bottom: 0;
}

.min-to-max a:active path,
.max-to-min a:active path {
  fill: #ee3643;
}

.filters-button,
.filters-button:focus,
.filters-button:hover,
.filters-button:active {
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.container-inner .section-wrapper {
  margin-bottom: 60px;
}

.container-inner h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 30px 0 30px 29px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.filters h3,
.catalog-sorting,
.price-filter input[type="text"] {
  background-color: #f7f3ec;
}

.filters fieldset {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  border: 0;
  border-bottom: 1px solid #f7f3ec;
}

.filters fieldset:last-of-type {
  margin-bottom: 57px;

  border: 0;
}

.filters legend {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.price-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}

.price-range {
  width: 220px;
  height: 80px;
  margin-bottom: 9px;

  background-color: #f7f3ec;
}

.min-price,
.max-price {
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.price-filter input[type="text"] {
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  border: 0;
}

.filters-option {
  margin-bottom: 20px;
  margin-left: 35px;
}

.filters-option label {
  font-size: 15px;
  line-height: 20px;
}

.companies li:last-child {
  margin-bottom: 24px;
}

.filters-button {
  width: 140px;
  padding: 11px 0 9px 0;

  text-align: center;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item a {
  display: block;
  min-width: 36px;
  margin-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;

  text-align: center;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.pagination-list li:last-child {
  width: 150px;
}

.pagination-item a:focus,
.pagination-item a:hover {
  border: solid 1px #bdc6ca;
}

.pagination-item a:active {
  border: solid 1px #ee3643;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.about-tools {
  background-color: #f2f6f8;
}

.about-tools h3 {
  padding-top: 65px;
  padding-bottom: 26px;
}

.about-tools p:last-of-type {
  margin-bottom: 67px;
}

.about-tools .section-wrapper {
  margin-bottom: 0;
}

.main-footer.inner {
  margin-top: 0;
}

.modal-add-to-cart h3 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  text-align: center;
}

.modal-add-to-cart p {
  background-color: #f1f1f1;
}

.back-to-catalog,
.back-to-catalog:focus,
.back-to-catalog:hover,
.back-to-catalog:active {
  color: #000000;

  background-color: #ffffff;
}
